* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

a {
	color: blue;
	text-decoration: underline;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

.widget-open {
	width: 100%;
	height: 300px;
	max-width: 485px;
	overflow: hidden;

	background: url(//lmn-assets.imgix.net/widget/en-GB/images/book_tip.png?q=60&amp;w=970&amp;dpr=1) no-repeat;
	background-size: 200%;
	cursor: pointer;
}

.widget {
	position: fixed;
	top: 0;
	left: 0;

	display: none;
	width: 100%;
	min-width: 100%;
	height: 100%;

	background-color: white;
	overflow: auto;

	-webkit-overflow-scrolling: touch;

	.close {
		position: fixed;
		top: 0;
		right: 0;
		padding: 3px 10px;

		font-size: 2em;
		line-height: 1;

		background-color: white;
		border: 1px black solid;
		border-top: none;
		border-right: none;
	}
}

@media all and (orientation: portrait) {
	.page {
		margin-bottom: 10px;

		img {
			max-width: 100%;
		}
	}
}

@media all and (orientation: landscape) {
	.book {
		display: table;
	}

	.pages {
		display: table-row;
		vertical-align: top;
		clear: both;
	}

	.page {
		display: table-cell;
		min-width: 990px;

		&:last-child {
			min-width: 970px;
		}

		img {
			width: 970px;
			height: 320px
		}
	}
}

.heidelberg-tapToOpen {
	position: absolute;
	z-index: 2;
}